<app-navbar></app-navbar>
<div style="background-color:#2124B1; margin-top: 5px; padding-top: 5%; padding-bottom: 5%; background-image: url(../../../assets/img/footer.png);">
<form class="form" >
    
    <h2 style="padding-left: 25%;">CONTACT US</h2>
    <p type="Name:"><input placeholder="Write your name here.."></p>
    <p type="Email:"><input placeholder="Your Email id.."></p>
    <p type="Contact Number:"><input placeholder="Your contact number.."></p>
    <p type="Message:"><input placeholder="What kind of Services you want.."></p>
    <button>Send Message</button>
    <div class="con"> 
       <span class="fa "></span>  
       <span class="fa fa-envelope-o"></span>We will Contact you soon...
     </div> 
  </form>
</div>
