<app-navbar></app-navbar>
<div style="display:grid; justify-content:center;">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="video-container">
   
        </div>
        <div class="card" style=" margin: 100px;">
          <h1 class="card-title" style="color: #2124B1;">Normal</h1>
          <p class="card-description">What You'll Get</p>
          <ul class="card-get_list">
            <li class="card-get_list__item">One-time initiation fee $0</li>
            <li class="card-get_list__item">Deposit $50k</li>
            <li class="card-get_list__item">Pricing / rates Dynamic</li>
            <li class="card-get_list__item">Priority fleet access Yes</li>
            <li class="card-get_list__item">Guaranteed fleet access No</li>
          </ul>
        
          <button class="card-main_button" (click)="buttonclick()
          ">Choose</button>
        </div>
      
      </div>
      <div class="col">
        <div class="video-container">
   
        </div>
        <div class="card" style=" margin: 100px;">
          <h1 class="card-title"  style="color: #2124B1;">Popular</h1>
          <p class="card-description">What You'll Get</p>
          <ul class="card-get_list">
            <li class="card-get_list__item">One-time initiation fee $0</li>
            <li class="card-get_list__item">Deposit $50k</li>
            <li class="card-get_list__item">Pricing / rates Dynamic</li>
            <li class="card-get_list__item">Priority fleet access Yes</li>
            <li class="card-get_list__item">Guaranteed fleet access No</li>
          </ul>
          
          <button class="card-main_button" (click)="buttonclick()
          ">Choose</button>

        </div>
    </div>
     