<nav class="navbar  mr-auto" data-bs-theme="dark" style="display: flex; justify-content:left; background-color:  #2124B1; height: 150px; background-image: url(../../../assets/img/footer.png); background-image: url(../../../assets/img/bg-bottom.png); ">
    <img src="../../../assets/img/logo2.png" alt="" style="justify-content: left;display: flex;width: 150px; height: 150px;">

    <h1 style="display: flex;width: 250px;">Business Services</h1>
    <nav class="navbar navbar-expand-lg border-primary" style="display: flex;justify-content: right; margin-left: 400px;" >
      <div class="container-fluid" style="display: flex">
        
        <div class="collapse navbar-collapse  " id="navbarSupportedContent" >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
            <li class="nav-item ">
              <a class="nav-link active fw-bolder ex1"  aria-current="page" routerLink="/homepage" ><h4>Home</h4></a>
            </li>
            <li class="nav-item"  >
              <a class="nav-link ex1 active" routerLink="/servicepage"><h4>Services</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ex1" routerLink="/projectpage"><h4>Projects</h4></a>
            </li>
            <li class="nav-item">
              <a class="nav-link ex1" routerLink="/contactpage"><h4>Contact</h4></a>
            </li>
            
              <li class="nav-item">
                <a class="nav-link ex1 " routerLink="/aboutpage"><h4>About</h4></a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active fw-bolder ex1"  aria-current="page" (click)="logout()"><h4>Logout</h4></a>
              </li>
          </ul>
         
        </div>
      </div>
    </nav>
  </nav>