<div style="background-color:#2124B1; background-image:url(../../../assets/img/footer.png);" >
	
	<div style="padding-left: 38%; background-color:#ed6f21;background-image: url(../../../assets/img/navbarimg.png);">
	<img src="../../../assets/img/logo2.png" alt="" style="height: 130px;width: 150px; margin-left: 12%; margin-top: 1%; ">
	<h1 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: white; padding-left: 5%; margin: 0px;">Bussiness Services</h1>
</div>

<div class="wrapper" >
	
	
	<div class="title">
		<p style="color:white; font-family:cursive ;">Login in to get your services...</p>
	</div>
	<div class="form">
		<div class="input_field">
			<label>Username or email address</label>
			<input type="text" class="input" name="email" [(ngModel)]="email"  >
		</div>
		<div class="input_field">
			<label>Password</label>
			<input type="password" class="input" name="password" [(ngModel)]="password">
			<a  class="forgot">Forgot password?</a>
		</div>
		<div class="container">
			<div>
			  <button class="log" (click)="login()">Login</button>
			</div>
		  </div>
	</div>
	<div class="create_act">
		<p style="color: white;">New to Bservice? <a routerLink="signin" style="color: orange;">Create an account.</a></p>
	</div>
	<div class="footer">
		<ul   >
			<li><a href="#">Terms</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Security</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div> 
</div>	
</div>