<app-navbar></app-navbar>
<div class="container text-center">
    <div class="row">
      <div class="col-6" style="width: 500px;">
      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container px-lg-5">
            <div class="row g-5">
                <div class="col-lg-9 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="section-title position-relative mb-4 pb-2">
                        <h1 class="position-relative m ps-4" style="color:black ; text-decoration:underline #ed6f21 ; font-family: 'Josefin Sans', sans-serif; font-weight: 800; ">About Us</h1>
                        <h2 class="mt-2" style="font-family: 'Source Serif Pro', serif; font-weight: 600 ; color: #2124B1;">The best SEO solution with 10 years of experience</h2>
                    </div>
    
                    <h5 class="" style="margin-bottom: 0%; text-align:justify; margin-top: 0%; color: #2124B1;">Since inception, we continuously strive to improve your services over the past years. We have designed logos, websites and implemented digital marketing strategies for thousands of customers.

                       Our goal is to empower businesses of all sizes and achieve success in their niche through our outstanding digital services.</h5>
                    <div class="row g-3" style="margin-top: 3%;">
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>Award Winning</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Professional Staff</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3"><i class="fa fa-check text-primary me-2"></i>24/7 Support</h6>
                            <h6 class="mb-0"><i class="fa fa-check text-primary me-2"></i>Fair Prices</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-primary rounded-pill px-4 me-3" href="">>>></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-primary btn-square me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="img/about.jpg"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
      </div>
      <div class="col-6">
       <img src="../../../assets/img/aboutpic-01.png" alt="" style="height: 500px; width: 750px; margin-top: 100px; margin-left: 10%;">
      </div>
      
    </div>
  </div>

<!-- second module -->

<div class="container " style="position: relative;">
    <div class="row">
      <div class="col" >
        <div ><h1 style="color: floralwhite; padding-left: 42px; padding-top: 112px;  position: absolute; left: 50px; bottom: 5opx;"> Our Vission</h1> 
           <img src="../../../assets/img/iconorg-01.png" alt=""  style="height: 300px; width: 400px;">
           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dolor tenetur labore nemo, est, rem ratione laboriosam cumque cupiditate ducimus quae. Quae enim, dolorem libero quibusdam totam ad beatae nihil.</h4>
        </div>  
      </div>
      
      <div class="col" style="margin-left: 20%;" >
        <div ><h1 style="color: floralwhite; padding-right: 89px; padding-top: 112px;  position: absolute; right: 50px; bottom: 5opx;"> Our Mission</h1>
           <img src="../../../assets/img/iconorg-01.png" alt=""  style="height: 300px; width: 400px;">
           <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores dolor tenetur labore nemo, est, rem ratione laboriosam cumque cupiditate ducimus quae. Quae enim, dolorem libero quibusdam totam ad beatae nihil.</h4>
          </div>  
      </div>     
    </div>
</div>


 